src/main/mule/jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dece2f55-41ea-425e-b752-6b8d64a98090" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkinsFlow" doc:id="f4ed53ab-3c88-476b-9a8b-e9270bc2ab58" >
		<http:listener doc:name="Listener" doc:id="92707bc8-d1f4-40fb-b999-2bf1a6d9f58e" config-ref="HTTP_Listener_config" path="/abc"/>
		<logger level="INFO" doc:name="Logger" doc:id="a25aa957-149a-4252-af73-a055068314ac" message="clear logging variables"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="4f4f1696-4cde-4610-9662-44c309df068b" />
	</flow>
</mule>
